*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-size: 12px;
}

.home{
    height: 20%;
    width: 100%;
    margin-bottom: 50px;
}
.logo{
    font-family:'Times New Roman', Times, serif ;
    top: 0;
    font-size: 80px;
    margin-left: 50%;
    font-weight: 700;
    

   }

   .logo img{
    width: 15px;
    padding-left: 6px;
    
   }

   .body{
    top: 0%;
   }
   
   .motto{
    width: 80%;
   }
   .motto h1{
    text-align: center;
    font-size: larger;
    font-family:'Courier New', Courier, monospace;
    margin-left: 10%;
   }

   .motto p{
    
    display: block;
   }

   .valueproposition p{
    margin-left: 30%;
   }

    h2{
        color: white;
    }
    

    h3{
        color: black;
        margin-bottom: 10px;
    }    
    .grades h3{
        color: white;
        cursor: pointer;
    }
    .block .subjects{
        display: inline-grid;
        margin: 20px;
        justify-content: center;
        align-items: center;
     
    }
       

    .subjects{
        /*border: 1px solid black;*/
        border-radius: 10px;
        width: 25%;
        height: 60%;
        margin-left: 200px;
        margin-top: 30px;
        cursor: pointer;
       
        
    }

    .subjects:hover{
        
        border: 0.05rem solid black;
        background-color: whitesmoke;
        
    }

    .subjects h3{
   border-radius: 10px;
   margin: 2%;
   font-size: 30px;
    }

    .subjects img{
        border-radius: 10px;
        margin: 2%;
        width: 300px;
        height: 165px;
    }

    .subjects video{
        border-radius: 10px;
        margin-left: 4%;
        width: 300px;
        
    }
    .subjects p{
        margin: 10px;
    }

    .subjects p span{
        margin: 10px;
        font-weight: bolder;
        margin-left: 3px;
        padding-top: 15px;
    }
    .headings{
        top: 0;
    }
       
    .heading {
        text-decoration: none;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 28%;
        border-radius: 20px;
        background-color: red;
        padding: 10px;
        width: 40%;
        border: none;
        cursor: pointer;
        
    }

    .heading:hover{
        font-weight: bolder;
        background-color: white;
        color: black;
        border: 0.1rem solid black;
        border-radius: 20px;
    }

    .heading1 {
        text-decoration: none;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 28%;
        border-radius: 20px;
        background-color: red;
        padding: 10px;
        width: 40%;
        border: none;
        cursor: pointer;
    }

    .heading1:hover{
        font-weight: bolder;
        background-color: white;
        color: black;
        border: 0.1rem solid black;
        border-radius: 20px;
    }
   
    .gradeslist{
        width: auto;
        height: auto;
        background-color:gray;
        left: 0;
        border-radius: 10px;
        position: fixed;
        top: 0%;
    }
    
    
   .gradeslist ul {
    display: inline-block;
   }
   .gradeslist ul li{
      display: block;
      padding: 20px;

   }

 .gradeslist ul li a{
  color:white;
  text-decoration: none;
  margin-bottom:  10px;
   }

   .gradeslist ul li a:hover{
    background-color: azure;
    color: black;
    padding: 10px;
    border-radius: 20px;
    width: auto;
   }
   .gradeslist .close-modal{
    color: white;
    margin-left: 95%;
    background-color: gray;
    border: none;
    font-size: 30px;
    cursor: pointer;
   }
   .hidden{
    display: none;
   }

   .grade12physics{
    width: auto;
    height: auto;
    background-color:gray;
    left: 0;
    border-radius: 10px;
    position: fixed;
    top: 0;
}


.grade12physics ul {
display: inline-block;
}
.grade12physics ul li{
  display: block;
  padding: 20px;

}

.grade12physics ul li a{
color:white;
text-decoration: none;
}


.grade12physics ul li a:hover{
    background-color: azure;
    color: black;
    padding: 10px;
    border-radius: 20px;
    width: auto;
   }

.grade12physics .hide-modal{
color: white;
margin-left: 95%;
background-color: gray;
border: none;
font-size: 30px;
cursor: pointer;
}
 

   .secret{
    display: none;
   }

   .heading2 {
    text-decoration: none;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 28%;
    border-radius: 20px;
    background-color: red;
    padding: 10px;
    width: 40%;
    border: none;
    cursor: pointer;
}

.heading2:hover{
    font-weight: bolder;
    background-color: white;
    color: black;
    border: 0.1rem solid black;
    border-radius: 20px;
}
.g12chemistry{
    width: auto;
    height: auto;
    background-color:gray;
    left: 0;
    border-radius: 10px;
    position: fixed;
    top: 0%;
}


.g12chemistry ul {
display: inline-block;
}
.g12chemistry ul li{
  display: block;
  padding: 20px;

}

.g12chemistry ul li a{
color:white;
text-decoration: none;
}


.g12chemistry ul li a:hover{
    background-color: azure;
    color: black;
    padding: 10px;
    border-radius: 20px;
    width: auto;
   }
.g12chemistry .donotshow-modal{
color: white;
margin-left: 95%;
background-color: gray;
border: none;
font-size: 30px;
cursor: pointer;
}
   .classified{
    display: none;
   }

   .heading3 {
    text-decoration: none;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 28%;
    border-radius: 20px;
    background-color: red;
    padding: 10px;
    width: 40%;
    border: none;
    cursor: pointer;
}

.heading3:hover{
    font-weight: bolder;
    background-color: white;
    color: black;
    border: 0.1rem solid black;
    border-radius: 20px;
}
.g12biology{
    width: auto;
    height: auto;
    background-color:gray;
    left: 0;
    border-radius: 10px;
    position: fixed;
    top: 0%;
}


.g12biology ul {
display: inline-block;
}
.g12biology ul li{
  display: block;
  padding: 20px;

}

.g12biology ul li a{
color:white;
text-decoration: none;
}


.g12biology ul li a:hover{
    background-color: azure;
    color: black;
    padding: 10px;
    border-radius: 20px;
    width: auto;
   }

.g12biology .display-modal{
color: white;
margin-left: 95%;
background-color: gray;
border: none;
font-size: 30px;
cursor: pointer;
}


   .noshow{
    display: none;
   }

   .word-btn{
    text-decoration: none;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3%;
    border-radius: 20px;
    background-color: red;
    padding: 10px;
    width: 20%;
    border: none;
    cursor: pointer; 
}
 
   .word-btn:hover{
    font-weight: bolder;
    background-color: white;
    color: black;
    border: 0.1rem solid black;
    border-radius: 20px;
}

.word{
    width: auto;
    height: auto;
    background-color:gray;
    left: 0;
    border-radius: 10px;
    position: fixed;
    top: 0%;
}


.word ul {
display: inline-block;
}
.word ul li{
  display: block;
  padding: 20px;

}

.word ul li a{
color:white;
text-decoration: none;
}

.word .word-modal{
color: white;
margin-left: 95%;
background-color: gray;
border: none;
font-size: 30px;
cursor: pointer;
}

.modal{
    display: none;
   }
.excel-btn{
    text-decoration: none;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3%;
    border-radius: 20px;
    background-color: red;
    padding: 10px;
    width: 20%;
    border: none;
    cursor: pointer; 
}
 
   .excel-btn:hover{
    font-weight: bolder;
    background-color: white;
    color: black;
    border: 0.1rem solid black;
    border-radius: 20px;
}


.excel{
    width: auto;
    height: auto;
    background-color:gray;
    left: 0;
    border-radius: 10px;
    position: fixed;
    top: 0%;
}


.excel ul {
display: inline-block;
}
.excel ul li{
  display: block;
  padding: 20px;

}

.excel ul li a{
color:white;
text-decoration: none;
}

.excel .excel-modal{
color: white;
margin-left: 95%;
background-color: gray;
border: none;
font-size: 30px;
cursor: pointer;
}

.modall{
    display: none;
}

.powerpoint-btn{
    text-decoration: none;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3%;
    border-radius: 20px;
    background-color: red;
    padding: 10px;
    width: 20%;
    border: none;
    cursor: pointer; 
}
 
   .powerpoint-btn:hover{
    font-weight: bolder;
    background-color: white;
    color: black;
    border: 0.1rem solid black;
    border-radius: 20px;
}


.powerpoint{
    width: auto;
    height: auto;
    background-color:gray;
    left: 0;
    border-radius: 10px;
    position: fixed;
    top: 0%;
}


.powerpoint ul {
display: inline-block;
}
.powerpoint ul li{
  display: block;
  padding: 20px;

}

.powerpoint ul li a{
color:white;
text-decoration: none;
}

.powerpoint .powerpoint-modal{
color: white;
margin-left: 95%;
background-color: gray;
border: none;
font-size: 30px;
cursor: pointer;
}

.modalll{
    display: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    background: blur(3px);
    z-index: 5;
  }
   .whatwedo{
    background-color: whitesmoke;
    margin-bottom: 30px;

   }

   .whatwedo img{

    width: 80%;
    margin-left: 10%;
    margin-top: 40px;
   
   }

   .whatwedo h1{
font-size: 20px;
font-weight: bold;
text-align: center;
margin: 50px;
   }

   .whatwedo p{
    font-size: 14px;
    text-align: center;
    margin: 50px;
   }

   .ourbusiness h3{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 50px;

   }

   .ourbusiness p{
    font-size: 14px;
    text-align: center;
    margin: 50px;
   }

   footer{
    background-color: whitesmoke;
    height: 150px;
    margin-bottom: 0%;
    margin-top: 5%;
    color: black;
}

footer ul{
    
    text-decoration: none;
}
footer ul li{
    display: inline-block;
    text-decoration: none;
    list-style: none;
    padding: 20px;
}
footer ul li a{
    color: black;
    text-decoration: none;
    
   
}
footer ul li a:hover{
    font-weight: bolder;
}

footer ul li a img:hover{
    width: 25px;
}
 @media Screen and (max-width: 480px) {



    body{
        width: 100%;
        background-color: white;
    }

    .home{
        height: 20%;
        width: 100%;
        margin-bottom: 50px;
    }
    .logo{
        font-family:'Times New Roman', Times, serif ;
        top: 0;
        font-size: 80px;
        margin-left: 10%;
        font-weight: 700;
        display: inline;
     padding: 50px;
       }
       .logo img{
        width: 15px;
        padding-left: 6px;
       } 
       
   
    .logo{
        font-family: Arial;
        top: 0;
        font-size: 80px;
        margin-left: 20%;
        font-weight: 700;
        
    
       }
       .logo img{
        width: 15px;
        padding-left: 6px;
        display: none;
        
       }
    .logo ul{
        display: inline-block;
    }

    .logo ul li{
        list-style: none;
    }

    .logo ul li {
        text-decoration: none;
        color: gray;
        font-size: 14px;
    }

    .logo ul li:hover{
        background-color: gray;
        color: black;
        padding: 10px;
        text-decoration: underline;
        border-radius: 5px;

    }

    .sub-menu-1{
        display: none;
    }

    
.logo ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: white;
    margin-top: 5px;
    margin-left: -15px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;

    }
    .logo ul li:hover .sub-menu-1 ul{
        display: block;
        margin: 5px;
        height: 100%;
    }
    
    
    
    .logo ul li:hover .sub-menu-1 ul li{
        width: 80%;
        padding: 10px;
        color: black;
        background: transparent;
        border-radius: 0;
        text-align: left;
        font-size: 8px;
        text-decoration: none;
        cursor: pointer;
       
        
    }
    .motto h1{
        text-align: center;
        font-size: 10px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
        padding: 10px;
       }
       .motto{
        display: flex;
       }

       .motto img{
        margin-right: 18%;
        border-radius: 10px;
       }
    
       .motto p{
        font-size: 12px;
       

       }
 .subs{
    color: orangered;
    font-size: 10px;
 }

 .test{
    color: green;
    font-size: 10px;
 }
 .phones{
    display: flex;
  
   margin-left: 25%;
 }
       .valueproposition p{
        font-size: 7;
        display: none;
       }
        h2{
            color: white;
        }
        
    
        h3{
            color: black;
            margin-bottom: 10px;
        }
        .grades h3{
            color: white;
            cursor: pointer;
        }
        .block .subjects{
            display: block;
            margin: 20px;
            justify-content: center;
           }
    
        .subjects{
            /*border: 1px solid black;*/
            border-radius: 10px;
            width: 90%;
            height: 60%;
            margin-left: 0px;
            margin-top: 30px;
            cursor: pointer;
           
            
        }
    
        .subjects:hover{
            
            border: 0.05rem solid black;
            background-color: whitesmoke;
        }
    
        .subjects h3{
       border-radius: 10px;
       margin: 2%;
       font-size: 30px;
        }
    
        .subjects img{
            border-radius: 10px;
            margin: 2%;
            width: 95%;
            height: 180px;
        }
    
        .subjects video{
            border-radius: 10px;
            margin: 2%;
            width: 95%;
            
        }
        .subjects p{
            margin: 10px;
        }
        .headings{
            top: 0;
        }
           
        .heading {
            text-decoration: none;
            color: white;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 28%;
            border-radius: 20px;
            background-color: orangered;
            padding: 10px;
            width: 40%;
            border: none;
            cursor: pointer;
            
        }
    
        .heading:hover{
            font-weight: bolder;
            background-color: white;
            color: black;
            border: 0.1rem solid black;
            border-radius: 20px;
        }
    
        .heading1 {
            text-decoration: none;
            color: white;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 28%;
            border-radius: 20px;
            background-color: orangered;
            padding: 10px;
            width: 40%;
            border: none;
            cursor: pointer;
        }
    
        .heading1:hover{
            font-weight: bolder;
            background-color: white;
            color: black;
            border: 0.1rem solid black;
            border-radius: 20px;
        }
       
        .gradeslist{
        width: 80%;
        height: auto;
        background-color:gray;
        left: 40px;
        border-radius: 10px;
        position: fixed;
        
        top: 10px;
        }
        
        
       .gradeslist ul {
        display: block;
       }
       .gradeslist ul li{
          display: block;
          padding: 20px;
    
       }
    
     .gradeslist ul li a{
      color:white;
      text-decoration: none;
      margin-bottom:  10px;
       }
    
       .gradeslist .close-modal{
        color: white;
        margin-left: 90%;
        background-color: gray;
        border: none;
        font-size: 30px;
        cursor: pointer;
       }
       .hidden{
        display: none;
       }
    
       .grade12physics{
        width: 80%;
        height: auto;
        background-color:gray;
        left: 0;
        border-radius: 10px;
        position: fixed;
        top: 0;
        margin: 10%;
    }
    
    
    .grade12physics ul {
    display: block;
    }
    .grade12physics ul li{
      display: block;
      padding: 20px;
    
    }
    
    .grade12physics ul li a{
    color:white;
    text-decoration: none;
    }
    
    .grade12physics .hide-modal{
    color: white;
    margin-left: 90%;
    background-color: gray;
    border: none;
    font-size: 30px;
    cursor: pointer;
    }
     
    
       .secret{
        display: none;
       }
    
       .heading2 {
        text-decoration: none;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 28%;
        border-radius: 20px;
        background-color: orangered;
        padding: 10px;
        width: 40%;
        border: none;
        cursor: pointer;
    }
    
    .heading2:hover{
        font-weight: bolder;
        background-color: white;
        color: black;
        border: 0.1rem solid black;
        border-radius: 20px;
    }
    .g12chemistry{
        width: 80%;
        height: auto;
        background-color:gray;
        left: 0;
        border-radius: 10px;
        position: fixed;
        top: 0%;
        margin: 10%;
    }
    
    .g12chemistry p{
        font-size: 30px;
    }
    .g12chemistry ul {
    display: block;
    }
    .g12chemistry ul li{
      display: block;
      padding: 20px;
    
    }
    
    .g12chemistry ul li a{
    color:white;
    text-decoration: none;
    }
    
    .g12chemistry .donotshow-modal{
    color: white;
    margin-left: 90%;
    background-color: gray;
    border: none;
    font-size: 30px;
    cursor: pointer;
    }
       .classified{
        display: none;
       }
    
       .heading3 {
        text-decoration: none;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 28%;
        border-radius: 20px;
        background-color: orangered;
        padding: 10px;
        width: 40%;
        border: none;
        cursor: pointer;
    }
    
    .heading3:hover{
        font-weight: bolder;
        background-color: white;
        color: black;
        border: 0.1rem solid black;
        border-radius: 20px;
    }
    .g12biology{
        width: 80%;
        height: auto;
        background-color:gray;
        left: 0;
        border-radius: 10px;
        position: fixed;
        top: 0%;
        margin: 10%;
    }
    
    .g12biology p{
        font-size: 30px;
    }
    
    .g12biology ul {
    display: block;
    }
    .g12biology ul li{
      display: block;
      padding: 20px;
    
    }
    
    .g12biology ul li a{
    color:white;
    text-decoration: none;
    }
    
    .g12biology .display-modal{
    color: white;
    margin-left: 90%;
    background-color: gray;
    border: none;
    font-size: 30px;
    cursor: pointer;
    }
    
    
       .noshow{
        display: none;
       }
    
       .word-btn{
        text-decoration: none;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 28%;
        border-radius: 20px;
        background-color: orangered;
        padding: 10px;
        width: 40%;
        border: none;
        cursor: pointer; 
    }
     
       .word-btn:hover{
        font-weight: bolder;
        background-color: white;
        color: black;
        border: 0.1rem solid black;
        border-radius: 20px;
    }
    
    .word{
        width: 80%;
        height: auto;
        background-color:gray;
        left: 10%;
        border-radius: 10px;
        position: fixed;
        top: 10%;
    }
    
    
    .word ul {
    display: block;
    }
    .word ul li{
      display: block;
      padding: 20px;
    
    }
    
    .word ul li a{
    color:white;
    text-decoration: none;
    }
 

        .word ul li a:hover{
            background-color: white;
            padding: 5px;
            border-radius: 15px;
            color: black;
        }
    .word .word-modal{
    color: white;
    margin-left: 90%;
    background-color: gray;
    border: none;
    font-size: 30px;
    cursor: pointer;
    }
    
    .modal{
        display: none;
    }
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        background: blur(3px);
        z-index: 5;
      }
       .whatwedo{
        background-color: whitesmoke;
        margin-bottom: 30px;
    
       }
    
       .whatwedo img{
    
        width: 80%;
        margin-left: 10%;
        margin-top: 40px;
       
       }
    
       .whatwedo h1{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
       }
    
       .whatwedo p{
        font-size: 14px;
        text-align: center;
        margin: 50px;
       }
    
       .ourbusiness h3{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin: 50px;
    
       }
    
       .ourbusiness p{
        font-size: 14px;
        text-align: center;
        margin: 50px;
       }
    
       footer{
        background-color: whitesmoke;
        height: auto;
        margin-bottom: 0%;
        margin-top: 5%;
        color: black;
    }
    
    footer ul{
        
        text-decoration: none;
    }
    footer ul li{
        display: block;
        text-decoration: none;
        list-style: none;
        padding: 20px;
        text-align: center;
    }
    footer ul li a{
        color: black;
        text-decoration: none;
        
       
    }
    footer ul li a:hover{
        font-weight: bolder;
    }
    
    footer ul li a img:hover{
        width: 25px;
    }
    .cookie-container{
        position: fixed;
        width: 100%;
        height: 20%;
        bottom: -100%;
        left:0;
        right: 0;
        background: whitesmoke;
        transition: 400ms;
        box-shadow: 0 -2px 16px rgba(47, 54, 64, alpha);
        
    }

    .cookie-container.active{
        bottom: 0;
       

    }
    .cookie-container p{
        color: black;
        margin: 10px;
        padding: 5px;
        font-size: 16px;
    }

    .cookie-container p a{
   font-size: 16px;
    }
    .cookie-btn{
        left: 80%;
        right: 0;
        margin-bottom: 80%;
        padding: 10px;
        position: relative;
        border-radius: 5px;
        cursor: pointer;
    }

    .cookie-btn:hover{
        text-decoration: underline;
    }
 

.share-container{
    position: fixed;
    width: 80%;
    bottom: -100%;
    left:15%;
    right: 15%;
    background: #2f3640;
    transition: 4000ms;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, alpha);
    border-radius: 10px;
    
 }
 .share-container.high{
     bottom: 5%;
  
  }
  .share-container p{
     color: white;
     margin: 30px;
     font-size: 10px;
     padding: 5px;
     background-color:  #2f3640;
  }
  
  .share-container{
     left: 10%;
  }
  
  .share-btn{
     margin-left: 70%;
     margin-bottom: 10%;
     border-radius: 20px;
     width: 50px;
     border: none;
     background-color: black;
     padding: 10px;
     
  }
  
  .share-btn a{
  
  text-decoration: none;
  color: white;
  font-weight: 300;
  background-color: black;
  padding: 10px;
  }
  
  .share-btn:hover{
     width: 110px;
  }
  .share-container.high{
     bottom: 10%;
  }
  
  .closebtn{
     color: white;
     margin-left: 95%;
     margin-top: 2%;
     background-color:  #2f3640;
     cursor: pointer;
  }
}
@media Screen and (min-width: 600px) and (max-width: 768px) {
    Body{
        width: 100%;
    }
    
    .home{
        height: 20%;
        width: 100%;
        margin-bottom: 50px;
    }
    .logo{
        font-family:'Times New Roman', Times, serif ;
        top: 0;
        font-size: 80px;
        margin-left: 50%;
        font-weight: 700;
        
    
       }
       .logo img{
        width: 15px;
        padding-left: 6px;
        
       }
      
   
    .logo{
        font-family: Arial;
        top: 0;
        font-size: 80px;
        margin-left: 20%;
        font-weight: 700;
        
    
       }
       .logo img{
        width: 15px;
        padding-left: 6px;
        display: none;
        
       }
    .logo ul{
        display: inline-block;
    }

    .logo ul li{
        list-style: none;
    }

    .logo ul li {
        text-decoration: none;
        color: gray;
        font-size: 14px;
    }

    .logo ul li:hover{
        background-color: gray;
        color: black;
        padding: 10px;
        text-decoration: underline;
        border-radius: 5px;

    }

    .sub-menu-1{
        display: none;
    }

    
.logo ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: white;
    margin-top: 5px;
    margin-left: 0px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;

    }
    .logo ul li:hover .sub-menu-1 ul{
        display: block;
        margin: 5px;
        height: 100%;
    }
    
    
    
    .logo ul li:hover .sub-menu-1 ul li{
        width: 280px;
        padding: 10px;
        color: black;
        background: transparent;
        border-radius: 0;
        text-align: left;
        font-size: 8px;
        text-decoration: none;
        cursor: pointer;
       
        
    }
    .motto h1{
        text-align: center;
        font-size: 15px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
        padding: 10px;
       }
       .motto{
        display: flex;
       }

       .motto img{
        margin-right: 18%;
        border-radius: 10px;
       }
    
       .motto p{
        font-size: 12px;
        margin-top: 150px;

       }
 .subs{
    color: orangered;
    font-size: 15px;
 }

 .test{
    color: green;
    font-size: 15px;
 }
 .phones{
    display: flex;
  
   margin-left: 25%;
 } 
        h2{
            color: white;
        }
        
    
        h3{
            color: black;
            margin-bottom: 10px;
        }
        .grades h3{
            color: white;
            cursor: pointer;
        }
        .block .subjects{
            display: inline-grid;
            margin: 20px;
            justify-content: center;
           }
    
        .subjects{
            border-radius: 10px;
            width: 25%;
            height: 80%;
            margin-left: 10px;
            margin-top: 30px;
            cursor: pointer;
           
            
        }
    
        .subjects:hover{
            
            border: 0.05rem solid black;
            background-color: whitesmoke;
        }
    
        .subjects:last-child{
            margin-left: 30%;
        }
        .subjects h3{
       border-radius: 10px;
       margin: 2%;
       font-size: 30px;
        }
    
        .subjects img{
            border-radius: 10px;
            margin: 2%;
            width: 90%;
           height: 22%;
            position: relative;
        }
    
        .subjects video{
            border-radius: 10px;
            margin: 2%;
            width: 90%;
            
        }
        .subjects p{
            margin: 10px;
            width: 90%;
        }
        .headings{
            top: 0;
        }
           
        .heading {
            text-decoration: none;
            color: white;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 28%;
            border-radius: 20px;
            background-color: orangered;
            padding: 10px;
            width: 40%;
            border: none;
            cursor: pointer;
            
        }
    
        .heading:hover{
            font-weight: bolder;
            background-color: white;
            color: black;
            border: 0.1rem solid black;
            border-radius: 20px;
        }
    
        .heading1 {
            text-decoration: none;
            color: white;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 28%;
            border-radius: 20px;
            background-color: orangered;
            padding: 10px;
            width: 40%;
            border: none;
            cursor: pointer;
        }
    
        .heading1:hover{
            font-weight: bolder;
            background-color: white;
            color: black;
            border: 0.1rem solid black;
            border-radius: 20px;
        }
       
        .gradeslist{
            width: auto;
            height: auto;
            background-color:gray;
            left: 0;
            border-radius: 10px;
            position: fixed;
            top: 0%;
        }
        
        
       .gradeslist ul {
        display: inline-block;
       }
       .gradeslist ul li{
          display: block;
          padding: 20px;
    
       }
    
     .gradeslist ul li a{
      color:white;
      text-decoration: none;
      margin-bottom:  10px;
       }
    
       .gradeslist .close-modal{
        color: white;
        margin-left: 95%;
        background-color: gray;
        border: none;
        font-size: 30px;
        cursor: pointer;
       }
       .hidden{
        display: none;
       }
    
       .grade12physics{
        width: auto;
        height: auto;
        background-color:gray;
        left: 0;
        border-radius: 10px;
        position: fixed;
        top: 0;
    }
    
    
    .grade12physics ul {
    display: inline-block;
    }
    .grade12physics ul li{
      display: block;
      padding: 20px;
    
    }
    
    .grade12physics ul li a{
    color:white;
    text-decoration: none;
    }
    
    .grade12physics .hide-modal{
    color: white;
    margin-left: 95%;
    background-color: gray;
    border: none;
    font-size: 30px;
    cursor: pointer;
    }
     
    
       .secret{
        display: none;
       }
    
       .heading2 {
        text-decoration: none;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 28%;
        border-radius: 20px;
        background-color: orangered;
        padding: 10px;
        width: 40%;
        border: none;
        cursor: pointer;
    }
    
    .heading2:hover{
        font-weight: bolder;
        background-color: white;
        color: black;
        border: 0.1rem solid black;
        border-radius: 20px;
    }
    .g12chemistry{
        width: auto;
        height: auto;
        background-color:gray;
        left: 0;
        border-radius: 10px;
        position: fixed;
        top: 0%;
    }
    
    
    .g12chemistry ul {
    display: inline-block;
    }
    .g12chemistry ul li{
      display: block;
      padding: 20px;
    
    }
    
    .g12chemistry ul li a{
    color:white;
    text-decoration: none;
    }
    
    .g12chemistry .donotshow-modal{
    color: white;
    margin-left: 95%;
    background-color: gray;
    border: none;
    font-size: 30px;
    cursor: pointer;
    }
       .classified{
        display: none;
       }
    
       .heading3 {
        text-decoration: none;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 28%;
        border-radius: 20px;
        background-color: orangered;
        padding: 10px;
        width: 40%;
        border: none;
        cursor: pointer;
    }
    
    .heading3:hover{
        font-weight: bolder;
        background-color: white;
        color: black;
        border: 0.1rem solid black;
        border-radius: 20px;
    }
    .g12biology{
        width: auto;
        height: auto;
        background-color:gray;
        left: 0;
        border-radius: 10px;
        position: fixed;
        top: 0%;
    }
    
    
    .g12biology ul {
    display: inline-block;
    }
    .g12biology ul li{
      display: block;
      padding: 20px;
    
    }
    
    .g12biology ul li a{
    color:white;
    text-decoration: none;
    }
    
    .g12biology .display-modal{
    color: white;
    margin-left: 95%;
    background-color: gray;
    border: none;
    font-size: 30px;
    cursor: pointer;
    }
    
    
       .noshow{
        display: none;
       }
    
       .word-btn{
        text-decoration: none;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 28%;
        border-radius: 20px;
        background-color: orangered;
        padding: 10px;
        width: 40%;
        border: none;
        cursor: pointer; 
    }
     
       .word-btn:hover{
        font-weight: bolder;
        background-color: white;
        color: black;
        border: 0.1rem solid black;
        border-radius: 20px;
    }
    
    .word{
        width: 90%;
        height: auto;
        background-color:gray;
        left: 10%;
        border-radius: 10px;
        position: fixed;
        top: 10%;
    }
    
    
    .word ul {
    display: inline-block;
    }
    .word ul li{
      display: block;
      padding: 20px;
    
    }
    
    .word ul li a{
    color:white;
    text-decoration: none;
    }

        .word ul li a:hover{
            background-color: white;
            padding: 5px;
            border-radius: 15px;
            color: black;
        }
    .word .word-modal{
    color: white;
    margin-left: 96%;
    background-color: gray;
    border: none;
    font-size: 30px;
    cursor: pointer;
    }
    
    .modal{
        display: none;
       }
    
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        background: blur(3px);
        z-index: 5;
      }
       .whatwedo{
        background-color: whitesmoke;
        margin-bottom: 30px;
    
       }
    
       .whatwedo img{
    
        width: 80%;
        margin-left: 10%;
        margin-top: 40px;
       
       }
    
       .whatwedo h1{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
       }
    
       .whatwedo p{
        font-size: 14px;
        text-align: center;
        margin: 50px;
       }
    
       .ourbusiness h3{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin: 50px;
    
       }
    
       .ourbusiness p{
        font-size: 14px;
        text-align: center;
        margin: 50px;
       }
    
       footer{
        background-color: whitesmoke;
        height: 150px;
        margin-bottom: 0%;
        margin-top: 5%;
        color: black;
    }
    
    footer ul{
        
        text-decoration: none;
    }
    footer ul li{
        display: inline-block;
        text-decoration: none;
        list-style: none;
        padding: 20px;
    }
    footer ul li a{
        color: black;
        text-decoration: none;
        
       
    }
    footer ul li a:hover{
        font-weight: bolder;
    }
    
    footer ul li a img:hover{
        width: 25px;
    }

.cookie-container{
    position: fixed;
    width: 100%;
    height: 20%;
    bottom: -100%;
    left:0;
    right: 0;
    background: whitesmoke;
    transition: 400ms;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, alpha);
    
}

.cookie-container.active{
    bottom: 0;
   

}
.cookie-container p{
    color: black;
    margin: 10px;
    padding: 5px;
    font-size: 16px;
}

.cookie-container p a{
font-size: 16px;
}
.cookie-btn{
    left: 80%;
    right: 0;
    margin-bottom: 80%;
    padding: 10px;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}

.cookie-btn:hover{
    text-decoration: underline;
}

.share-container{
    position: fixed;
    width: 80%;
    bottom: -100%;
    left:15%;
    right: 15%;
    background: #2f3640;
    transition: 4000ms;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, alpha);
    border-radius: 10px;
    
 }
 .share-container.high{
     bottom: 5%;
  
  }
  .share-container p{
     color: white;
     margin: 30px;
     font-size: 10px;
     padding: 5px;
     background-color:  #2f3640;
  }
  
  .share-container{
     left: 10%;
  }
  
  .share-btn{
     margin-left: 70%;
     margin-bottom: 10%;
     border-radius: 20px;
     width: 50px;
     border: none;
     background-color: black;
     padding: 10px;
     
  }
  
  .share-btn a{
  
  text-decoration: none;
  color: white;
  font-weight: 300;
  background-color: black;
  padding: 10px;
  }
  
  .share-btn:hover{
     width: 110px;
  }
  .share-container.high{
     bottom: 10%;
  }
  
  .closebtn{
     color: white;
     margin-left: 95%;
     margin-top: 2%;
     background-color:  #2f3640;
     cursor: pointer;
  }
}

@media Screen and (min-width: 769px) {
    Body{
        width: 100%;
       
    }
    
    .home{
        height: 15%;
        width: 100%;
        margin-bottom: 50px;
       
    }

  
   
    .logo{
        font-family: Arial;
        top: 0;
        font-size: 80px;
        margin-left: 20%;
        font-weight: 700;
        
    
       }
       .logo img{
        width: 15px;
        padding-left: 6px;
        display: none;
        
       }
    .logo ul{
        display: inline-block;
    }

    .logo ul li{
        list-style: none;
    }

    .logo ul li {
        text-decoration: none;
        color: gray;
        font-size: 14px;
    }

    .logo ul li:hover{
        background-color: gray;
        color: black;
        padding: 10px;
        text-decoration: underline;
        border-radius: 5px;

    }

    .sub-menu-1{
        display: none;
    }

    
.logo ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: white;
    margin-top: 5px;
    margin-left: 0px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;

    }
    .logo ul li:hover .sub-menu-1 ul{
        display: block;
        margin: 5px;
        height: 100%;
    }
    
    
    
    .logo ul li:hover .sub-menu-1 ul li{
        width: 400px;
        padding: 10px;
        color: black;
        background: transparent;
        border-radius: 0;
        text-align: left;
        font-size: 8px;
        text-decoration: none;
        cursor: pointer;
       
        
    }
       .motto h1{
        text-align: center;
        font-size: 15px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
        padding: 10px;
       }
       .motto{
        display: flex;
       }

       .motto img{
        margin-right: 18%;
        border-radius: 10px;
       }
    
       .motto p{
        font-size: 12px;
        margin-top: 150px;

       }
 .subs{
    color: orangered;
    font-size: 15px;
 }

 .test{
    color: green;
    font-size: 15px;
 }
       .aboutus{
        padding: 5px;
        border-radius: 10px;

    }
  .aboutus:hover{
    width: 55px;
  }
    .aboutus a{
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
       .aboutus{
        text-decoration: none;
       }

       .ourmission h1{
   
     margin-left: 50%;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       }

       .ourmission p{
        text-align: justify;
        padding: 15px;
       }

     .phones{
        display: flex;
      
       margin-left: 25%;
     }

       .founder img{
        border-radius: 10px;
        margin: 15px;
        width: 100px;
        margin-left: 10%;
       }
     
       .founder a{
        text-decoration: none;
       }

       .founder p{
        margin-left: 20%;
       }
       .ourmission p span{
        font-weight: bold;
       } 
       .additionalinfo{
        margin: 15px;
        display: flex;
       }
       .additionalinfo img{
        border-radius: 10px;
        margin: 15px;
        width: 33%;
        display: inline;
       }

       .bus img{
        width: 80%;
       }
  .bus p{
    margin-left: 0;
  }
      
  .home img{
    width: 80%;
   }
.home p{
margin-left: 0;
}

        h2{
            color: white;
        }
        
    
        h3{
            color: black;
            margin-bottom: 10px;
        }
        .grades h3{
            color: white;
            cursor: pointer;
        }
        .block .subjects{
            display: inline-grid;
            margin: 20px;
            justify-content: center;
           }
    
        .subjects{
            border-radius: 10px;
            width: 25%;
            height: 80%;
            margin-left: 100px;
            margin-top: 30px;
            cursor: pointer;
           
            
        }
    
        .subjects:hover{
            
            border: 0.05rem solid black;
            background-color: whitesmoke;
        }
        .subjects:last-child{
            margin-left: 30%;
        }
        .subjects h3{
       border-radius: 10px;
       margin: 2%;
       font-size: 30px;
        }
    
        .subjects img{
            border-radius: 10px;
            margin: 2%;
            width: 90%;
            height: 165px;
            position: relative;
        }
    
        .subjects video{
            border-radius: 10px;
            margin: 2%;
            width: 90%;
            
        }
        .subjects p{
            margin: 10px;
            width: 90%;
        }
        .headings{
            top: 0;
        }
           
        .heading {
            text-decoration: none;
            color: white;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 28%;
            border-radius: 20px;
            background-color: orangered;
            padding: 10px;
            width: 40%;
            border: none;
            cursor: pointer;
            
        }
    
        .heading:hover{
            font-weight: bolder;
            background-color: white;
            color: black;
            border: 0.1rem solid black;
            border-radius: 20px;
        }
    
        .heading1 {
            text-decoration: none;
            color: white;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 28%;
            border-radius: 20px;
            background-color: orangered;
            padding: 10px;
            width: 40%;
            border: none;
            cursor: pointer;
        }
    
        .heading1:hover{
            font-weight: bolder;
            background-color: white;
            color: black;
            border: 0.1rem solid black;
            border-radius: 20px;
        }
       
        .gradeslist{
            width: auto;
            height: auto;
            background-color:gray;
            left: 0;
            border-radius: 10px;
            position: fixed;
            top: 0%;
        }
        
        
       .gradeslist ul {
        display: inline-block;
       }
       .gradeslist ul li{
          display: block;
          padding: 20px;
    
       }
    
     .gradeslist ul li a{
      color:white;
      text-decoration: none;
      margin-bottom:  10px;
       }
    
       .gradeslist .close-modal{
        color: white;
        margin-left: 95%;
        background-color: gray;
        border: none;
        font-size: 30px;
        cursor: pointer;
       }
       .hidden{
        display: none;
       }
    
       .grade12physics{
        width: auto;
        height: auto;
        background-color:gray;
        left: 0;
        border-radius: 10px;
        position: fixed;
        top: 0;
    }
    
    
    .grade12physics ul {
    display: inline-block;
    }
    .grade12physics ul li{
      display: block;
      padding: 20px;
    
    }
    
    .grade12physics ul li a{
    color:white;
    text-decoration: none;
    }
    
    .grade12physics .hide-modal{
    color: white;
    margin-left: 95%;
    background-color: gray;
    border: none;
    font-size: 30px;
    cursor: pointer;
    }
     
    
       .secret{
        display: none;
       }
    
       .heading2 {
        text-decoration: none;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 28%;
        border-radius: 20px;
        background-color: orangered;
        padding: 10px;
        width: 40%;
        border: none;
        cursor: pointer;
    }
    
    .heading2:hover{
        font-weight: bolder;
        background-color: white;
        color: black;
        border: 0.1rem solid black;
        border-radius: 20px;
    }

    .g12chemistry{
        width: auto;
        height: auto;
        background-color:gray;
        left: 0;
        border-radius: 10px;
        position: fixed;
        top: 0%;
    }
    
    
    .g12chemistry ul {
    display: inline-block;
    }
    .g12chemistry ul li{
      display: block;
      padding: 20px;
    
    }
    
    .g12chemistry ul li a{
    color:white;
    text-decoration: none;
    }
    
    .g12chemistry .donotshow-modal{
    color: white;
    margin-left: 95%;
    background-color: gray;
    border: none;
    font-size: 30px;
    cursor: pointer;
    }
       .classified{
        display: none;
       }
    
       .heading3 {
        text-decoration: none;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 28%;
        border-radius: 20px;
        background-color: orangered;
        padding: 10px;
        width: 40%;
        border: none;
        cursor: pointer;
    }
    
    .heading3:hover{
        font-weight: bolder;
        background-color: white;
        color: black;
        border: 0.1rem solid black;
        border-radius: 20px;
    }
    .g12biology{
        width: auto;
        height: auto;
        background-color:gray;
        left: 0;
        border-radius: 10px;
        position: fixed;
        top: 0%;
    }
    
    
    .g12biology ul {
    display: inline-block;
    }
    .g12biology ul li{
      display: block;
      padding: 20px;
    
    }
    
    .g12biology ul li a{
    color:white;
    text-decoration: none;
    }
    
    .g12biology .display-modal{
    color: white;
    margin-left: 95%;
    background-color: gray;
    border: none;
    font-size: 30px;
    cursor: pointer;
    }
    
    
       .noshow{
        display: none;
       }
    
       .word-btn{
        text-decoration: none;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 28%;
        border-radius: 20px;
        background-color: orangered;
        padding: 10px;
        width: 40%;
        border: none;
        cursor: pointer; 
    }
     
       .word-btn:hover{
        font-weight: bolder;
        background-color: white;
        color: black;
        border: 0.1rem solid black;
        border-radius: 20px;
    }
    
    .word{
        width: auto;
        height: auto;
        background-color:gray;
        left: 80%;
        border-radius: 10px;
        top: 10%;
    }
    
    .word ul {
        display: inline-block;
        }
        .word ul li{
          display: block;
          padding: 20px;
        
        }
        
        .word ul li a{
        color:white;
        text-decoration: none;
        }

        .word ul li a:hover{
            background-color: white;
            padding: 5px;
            border-radius: 15px;
            color: black;
        }
    
    .word .word-modal{
    color: white;
    margin-left: 80%;
    background-color: gray;
    border: none;
    font-size: 30px;
    cursor: pointer;
    }
    
    .modal{
        display: none;
       }
   
      
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        background: blur(3px);
        z-index: 5;
      }
       .whatwedo{
        background-color: whitesmoke;
        margin-bottom: 30px;
    
       }
    
       .whatwedo img{
    
        width: 80%;
        margin-left: 10%;
        margin-top: 40px;
       
       }
    
       .whatwedo h1{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
       }
    
       .whatwedo p{
        font-size: 14px;
        text-align: center;
        margin: 50px;
       }
    
       .ourbusiness h3{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin: 50px;
    
       }
    
       .ourbusiness p{
        font-size: 14px;
        text-align: center;
        margin: 50px;
       }
    
       footer{
        background-color: whitesmoke;
        height: 150px;
        margin-bottom: 0%;
        margin-top: 5%;
        color: black;
    }
    
    footer ul{
        
        text-decoration: none;
    }
    footer ul li{
        display: inline-block;
        text-decoration: none;
        list-style: none;
        padding: 20px;
    }
    footer ul li a{
        color: black;
        text-decoration: none;
        
       
    }
    footer ul li a:hover{
        font-weight: bolder;
    }
    
    footer ul li a img:hover{
        width: 25px;
    }

    .cookie-container{
        position: fixed;
        width: 100%;
        height: 50%;
        bottom: -100%;
        left:0;
        right: 0;
        background: whitesmoke;
        transition: 400ms;
        box-shadow: 0 -2px 16px rgba(47, 54, 64, alpha);
        
    }

    .cookie-container.active{
        bottom: 0;
       

    }
    .cookie-container p{
        color: black;
        margin: 10px;
        padding: 5px;
        font-size: 16px;
    }

    .cookie-container p a{
   font-size: 16px;
    }
    .cookie-btn{
        left: 80%;
        right: 0;
        margin-bottom: 80%;
        padding: 10px;
        position: relative;
        border-radius: 5px;
        cursor: pointer;
    }

    .cookie-btn:hover{
        text-decoration: underline;
        font-weight: 500;
    }
 

    .share-container{
        position: fixed;
        width: 80%;
        bottom: -100%;
        left:15%;
        right: 15%;
        background: #2f3640;
        transition: 4000ms;
        box-shadow: 0 -2px 16px rgba(47, 54, 64, alpha);
        border-radius: 10px;
        
     }
     .share-container.high{
         bottom: 5%;
      
      }
      .share-container p{
         color: white;
         margin: 30px;
         font-size: 10px;
         padding: 5px;
         background-color:  #2f3640;
      }
      
      .share-container{
         left: 10%;
      }
      
      .share-btn{
         margin-left: 70%;
         margin-bottom: 10%;
         border-radius: 20px;
         width: 50px;
         border: none;
         background-color: black;
         padding: 10px;
         
      }
      
      .share-btn a{
      
      text-decoration: none;
      color: white;
      font-weight: 300;
      background-color: black;
      padding: 10px;
      }
      
      .share-btn:hover{
         width: 110px;
      }
      .share-container.high{
         bottom: 10%;
      }
      
      .closebtn{
         color: white;
         margin-left: 95%;
         margin-top: 2%;
         background-color:  #2f3640;
         cursor: pointer;
      }

   
}

