@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Golos+Text&family=Montserrat&display=swap');
*{
    background: rgb(248, 246, 246);
}
.disciplina_link{
  
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
  
}

a{
    color: black;
    text-decoration: none;
}
.disciplina_link:hover{
    text-decoration: none;
   
    background-color: white;
    color: black;
    border: none;
   
}


@media screen and (min-width: 300px) and (max-width: 480px){
    *{
        background:  rgb(248, 246, 246);
    }
    .disciplina_link{
  
        border: 1px solid black;
        padding: 5px;
        border-radius: 5px;
      
    }
    
    .disciplina_link:hover{
        text-decoration: none;
       
        background-color: white;
        color: black;
        border: none;
       
    }


}
