/*
{

font-size: medium;
}
body{
   background-color: antiquewhite;
   height: 60%;
   
}
    .menu{
     left: 30%;
     width: 100%;
    }

     .menu ul li{
         display: inline;
         border-radius: 40px;
         margin: 5px;
         text-align: center;
         padding: 10px;
         font-size: x-small;
         width: 15%;
         height: 30px;
         cursor: pointer;
         left: 30%;    
     }
     .menu ul li a{
         font-weight: bold;
         text-align: center;
         text-decoration: none;
        
     }

     .menu ul li a:hover{
         font-weight: bolder;
         color: beige;
     }
.aboutus{
 background-color:darkseagreen;

}

.maths{
 background-color: violet;
}

.physics{
 background-color: darkslategrey;
}

.chem{
 background-color:darkorange;
}

.biology{
 background-color: darkgreen;
}

.PP{
background-color: azure;
}

.logo{
 font-family:'Times New Roman', Times, serif ;
 border-bottom: solid 1px ghostwhite;
 top: 15px;
 font-size: 30px;
 margin-left: 45%;
 font-weight: 700;
}
.logo img{
 width: 15px;
 padding-left: 6px;
 
}

.statement{
font-size: 12px;
text-align: center;
}

/*.Grid-1{
   display: inline-block;
   grid-template-rows: 1fr 1fr;
}*/
.Grid-1 h1{
text-align: center;
}


.backgroundimg img{
float: left;
 border-radius: 10px;
 width: 200px;


}

.backgroundimg{
position:relative;
overflow: hidden;
display: inline;
}


.layer h3{
text-align: left;
}
.footer{
background-color: antiquewhite;
border-radius: 10px;
bottom: 0;
position: fixed;
width: 55%;
left: 30%;
display: inline;


}
.footer a{
padding: 30px;
width: 15px;

}

.media-scroller{
display: grid;
grid-auto-flow: column;
gap:var(--size-3);
overflow-x: auto;


}

.media-element img{
width: 200px;
height: 150px;
border-radius: 15px;
padding: 10px;

}

.cookie-container{
   position: fixed;
   width: 50%;
   bottom: -100%;
   left:30%;
   right: 30%;
   background: #2f3640;
   transition: 400ms;
   box-shadow: 0 -2px 16px rgba(47, 54, 64, alpha);
   
}

.cookie-container.active{
   bottom: 5%;

}
.cookie-container p{
   color: white;
   margin: 30px;
   padding: 5px;
}
.cookie-btn{
   left: 80%;
   right: 0;
   margin-bottom: 5%;
   padding: 10px;
   position: relative;
   border-radius: 5px;
   cursor: pointer;
}

.cookie-btn:hover{
   text-decoration: underline;
}
*/

@media screen and (max-width: 412px), 
       screen and (max-height: 1000px) {
   body{
      background-color: antiquewhite;
      height: 60%;
      
   }
       .menu{
        right: 10px;
        width: 100%;
       }

        .menu ul li{
            display: inline;
            border-radius: 40px;
            margin: 5px;
            text-align: center;
            padding: 10px;
            font-size: x-small;
            width: 10%;
            height: 30px;
            cursor: pointer;
            right: 0;    
        }
        .menu ul li a{
            font-weight: bold;
            text-align: center;
            text-decoration: none;
           
        }

        .menu ul li a:hover{
            font-weight: bolder;
            color: beige;
        }
 .aboutus{
    background-color:darkseagreen;

 }

 .maths{
    background-color: violet;
 }

 .physics{
    background-color: darkslategrey;
 }

 .chem{
    background-color:darkorange;
 }

 .biology{
    background-color: darkgreen;
 }

.PP{
   background-color: azure;
}
 
 .logo{
    font-family:'Times New Roman', Times, serif ;
    border-bottom: solid 1px ghostwhite;
    top: 15px;
    font-size: 30px;
    margin-left: 45%;
    font-weight: 700;
 }
 .logo img{
    width: 15px;
    padding-left: 6px;
    
 }

 .statement{
   font-size: 12px;
   text-align: center;
   }
.Grid-1 h1{
text-align: center;
}

.backgroundimg img{
   width:100%;
   display: block;
    border-radius: 10px;
}

.backgroundimg{
   position:relative;
   overflow: hidden;
}


.layer h3{
   text-align: center;
}
.footer{
  background-color: antiquewhite;
  border-radius: 10px;
   bottom: 0;
   position: fixed;
   width: 55%;
   left: 15%;
   display: inline;

 
}
 .footer img{
   padding: 7px;
   width: 15px;
   
 }

.media-scroller{
   display: grid;
   grid-auto-flow: column;
   gap:var(--size-3);
   overflow-x: auto;
  
 
}

.media-element img{
width: 200px;
height: 150px;
border-radius: 15px;
padding: 10px;

}

.cookie-container p{
   color: white;
   margin: 30px;
   font-size: 10px;
   padding: 5px;
}

.cookie-container{
   left: 10%;
}

.cookie-btn{
   left: 60%;
}

.cookie-container.active{
   bottom: 10%;
}
 
}


@media screen and (max-width: 360px), 
       screen and (max-height: 1000px) {
   body{
      background-color: antiquewhite;
      
      
   }
       .menu{
        width: 100%;
       }

        .menu ul li{
            display: inline;
            border-radius: 40px;
            margin: 5px;
            text-align: center;
            padding: 10px;
            font-size: x-small;
            width: 10%;
            height: 30px;
            cursor: pointer;
            right: 0;    
        }
        .menu ul li a{
            font-weight: bold;
            text-align: center;
            text-decoration: none;
           
        }

        .menu ul li a:hover{
            font-weight: bolder;
            color: beige;
        }
 .aboutus{
    background-color:darkseagreen;

 }

 .maths{
    background-color: violet;
 }

 .physics{
    background-color: darkslategrey;
 }

 .chem{
    background-color:darkorange;
 }

 .biology{
    background-color: darkgreen;
 }

.PP{
   background-color: azure;
}
 
 .logo{
    font-family:'Times New Roman', Times, serif ;
    border-bottom: solid 1px ghostwhite;
    top: 15px;
    font-size: 30px;
    margin-left: 45%;
    font-weight: 700;
 }
 .logo img{
    width: 15px;
    padding-left: 6px;
    
 }

 .statement{
   font-size: 12px;
   text-align: center;
   }
.Grid-1 h1{
text-align: center;
}

.backgroundimg img{
   width:100%;
   display: block;
    border-radius: 10px;
}

.backgroundimg{
   position:relative;
   overflow: hidden;
}


.layer h3{
   text-align: center;
}
.footer{
  background-color: antiquewhite;
  border-radius: 10px;
   bottom: 0;
   position: fixed;
   width: 40%;
   display: inline;
   left: 30%;

 
}
 .footer img{
   padding: 5px;
   width: 11px;
   margin-left: 10px;
   
 }

.media-scroller{
   display: grid;
   grid-auto-flow: column;
   gap:var(--size-3);
   overflow-x: auto;
  
 
}

.media-element img{
width: 200px;
height: 150px;
border-radius: 15px;
padding: 10px;

}


 
}


/*@media screen and (max-width: 850px)
       {
   body{
      background-color: antiquewhite;
      height: 60%;
      
   }
       .menu{
        right: 10px;
        width: 100%;
       }

        .menu ul li{
            display: inline;
            border-radius: 40px;
            margin: 5px;
            text-align: center;
            padding: 10px;
            font-size: x-small;
            width: 15%;
            height: 30px;
            cursor: pointer;
            left: 30%;    
        }
        .menu ul li a{
            font-weight: bold;
            text-align: center;
            text-decoration: none;
           
        }

        .menu ul li a:hover{
            font-weight: bolder;
            color: beige;
        }
 .aboutus{
    background-color:darkseagreen;

 }

 .maths{
    background-color: violet;
 }

 .physics{
    background-color: darkslategrey;
 }

 .chem{
    background-color:darkorange;
 }

 .biology{
    background-color: darkgreen;
 }

.PP{
   background-color: azure;
}
 
 .logo{
    font-family:'Times New Roman', Times, serif ;
    border-bottom: solid 1px ghostwhite;
    top: 15px;
    font-size: 30px;
    margin-left: 45%;
    font-weight: 700;
 }
 .logo img{
    width: 15px;
    padding-left: 6px;
    
 }

 .statement{
   font-size: 12px;
   text-align: center;
   }
.Grid-1 h1{
text-align: center;
}

.Grid-1 {
   bottom: 50px;
}
.backgroundimg img{
   display: inline;
    border-radius: 10px;
   
}

.backgroundimg{
   position:relative;
   overflow: hidden;
   display: inline;
}


.layer h3{
   text-align: center;
}

.layer p{
   text-align: center;
}
.footer{
  background-color: antiquewhite;
  border-radius: 10px;
   bottom: 0;
   position: fixed;
   width: 50%;
   left: 25%;
   display: inline;

 
}
 .footer img{
   padding: 10px;
   width: 15px;
   left: 20px;
   
 }

.media-scroller{
   display: grid;
   grid-auto-flow: column;
   gap:var(--size-3);
   overflow-x: auto;
  
 
}

.media-element img{
width: 200px;
height: 150px;
border-radius: 15px;
padding: 10px;

}


 
}

